<!-- la marca de la casa -->

<header>
    <div>
        <h1>Coffee House</h1>
        <h2>somos el café</h2>
    </div>
</header>

<!-- primer contenedor -->
<main>
    <aside>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae nemo sit laboriosam accusamus tenetur assumenda
            aliquam reiciendis vitae! Repellat velit illo excepturi doloribus ipsum ut facilis ullam reprehenderit natus
            unde!
            Est, totam. Molestiae earum sapiente cumque voluptatibus excepturi dolores tempore, beatae corrupti
            cupiditate
            iure error, maxime commodi ex. Placeat assumenda temporibus hic quisquam a suscipit nobis ipsam quaerat
            laborum
            vitae!
            Recusandae, impedit quisquam! Officiis blanditiis vero natus alias quaerat eaque deserunt, in debitis quia
            modi
            accusantium repudiandae amet nam perferendis cupiditate similique iste veritatis est ab! Ab aliquid hic
            corporis!
            Corrupti odit reprehenderit labore? Officia, earum excepturi! Amet eos sint dolores exercitationem obcaecati
            esse, fugiat dignissimos. Obcaecati reiciendis nobis exercitationem nemo doloremque, fugit soluta neque sunt
            ducimus atque perspiciatis dolorem.
            Obcaecati quidem, consequuntur beatae nobis, saepe iusto accusantium, blanditiis iure inventore quam ea nemo
            a
            et architecto numquam repellat facilis eaque voluptatum recusandae adipisci pariatur ullam! Delectus
            consectetur
            necessitatibus dicta!
            Maxime, cum. Explicabo iure cum pariatur ea minus exercitationem laudantium, maiores officiis natus iste.
            Libero
            amet sunt quo aut! Cupiditate in odit maxime quos sint, laboriosam rerum corrupti earum architecto.
            Error ab quibusdam animi delectus iste, numquam blanditiis. Doloribus, culpa! Consectetur saepe sit pariatur
            enim incidunt corrupti aut iusto reiciendis ad. Quisquam cupiditate ipsa at nemo nobis culpa, nulla nam!
            Delectus nostrum modi distinctio enim necessitatibus qui voluptatum aperiam culpa praesentium maiores in
            expedita animi eveniet, sint obcaecati quisquam suscipit commodi ad architecto optio ipsa numquam tenetur ea
            nam! Quasi.
            Similique, deleniti ea eius aspernatur asperiores veniam possimus quia eveniet maxime blanditiis doloremque,
            soluta quas illo voluptates nisi rem at quos quidem magni consequuntur deserunt. Repellat quia dicta vel
            soluta.
            Ipsam a praesentium eveniet repellat fuga velit fugiat magnam nemo illo quibusdam aspernatur cum, fugit in
            provident aperiam. Atque quae laboriosam praesentium officiis eos nemo id quos eaque minima molestiae.</p>
    </aside>
    <section class="main-art-x2">
        <article>
            <div class="main-img-txt-group">
                <h2>Tostamos los mejores granos del mundo</h2>
                <h4>
                    Puedes saborear variedades de toda América y nuestros blends
                    especiales. Tenemos plantaciones en Colombia, Perú, Ecuador y Brasil.
                </h4>
                <div class="img-txt">

                    <img class="img-main" src="images/coffee_grains.jpg" alt="granos de café" />

                    <div class="txt-container">
                        <p class="txt-first-up">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor dolore
                            repellat ipsa, necessitatibus deserunt quasi quo tempore soluta
                            blanditiis numquam cumque fugiat aut, quod minus architecto minima
                            accusamus odio facilis?
                        </p>

                        <p>
                            Ab voluptate excepturi, quis dolores, nulla ad autem dolorum alias rem
                            fugit odit quam ducimus, eveniet cum nam eius velit fuga molestiae
                            accusantium laborum sunt aspernatur. Earum ipsa a in.
                        </p>

                        <p>
                            Quos, esse. Corporis id ut quae mollitia repellat officia odit quam
                            iusto porro nemo repellendus voluptatem quibusdam in ad deserunt
                            voluptate eum veniam expedita ea officiis laborum consequatur,
                            molestias beatae. Accusantium fuga, quae ullam rerum sequi soluta
                            possimus excepturi quia maiores optio. Doloremque quas, assumenda
                            consectetur perspiciatis tempore eveniet incidunt rerum totam minima.
                            Eaque impedit atque perferendis accusamus error nam.
                        </p>
                    </div>
                </div>
            </div>
            <hr />
        </article>

        <article>
            <div class="main-img-txt-group">
                <h2>¿Negro, con leche, crema o azúcar?</h2>
                <h4>
                    Para gustos, colores, dicen los españoles. Sin embargo, la forma de
                    tomar el café sigue generando encendidos debates. Los puristas
                    deliberan incluso sobre la temperatura adecuada para que el café
                    entregue todo su aroma y sabor. Y tu... ¿cómo lo prefieres?
                </h4>
                <div class="img-txt">

                    <img class="img-main" src="images/coffee_milk.jpg" alt="cafe con espuma de leche" />

                    <div class="txt-container">
                        <p class="txt-first-up">
                            Ab voluptate excepturi, quis dolores, nulla ad autem dolorum alias rem
                            fugit odit quam ducimus, eveniet cum nam eius velit fuga molestiae
                            accusantium laborum sunt aspernatur. Earum ipsa a in.
                        </p>

                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor dolore
                            repellat ipsa, necessitatibus deserunt quasi quo tempore soluta
                            blanditiis numquam cumque fugiat aut, quod minus architecto minima
                            accusamus odio facilis?
                        </p>

                        <p>
                            Quos, esse. Corporis id ut quae mollitia repellat officia odit quam
                            iusto porro nemo repellendus voluptatem quibusdam in ad deserunt
                            voluptate eum veniam expedita ea officiis laborum consequatur,
                            molestias beatae. Accusantium fuga, quae ullam rerum sequi soluta
                            possimus excepturi quia maiores optio. Doloremque quas, assumenda
                            consectetur perspiciatis tempore eveniet incidunt rerum totam minima.
                            Eaque impedit atque perferendis accusamus error nam.
                        </p>
                        <p>
                            Alias saepe, commodi earum ipsa sunt quibusdam unde neque libero natus
                            omnis, perspiciatis excepturi nobis tempora eos quisquam qui a aperiam
                            exercitationem! Rem error soluta consequuntur eligendi, pariatur culpa
                            atque ab eaque, officia porro corrupti facere suscipit deleniti velit.
                            Vel, illo obcaecati, optio velit error culpa necessitatibus ratione
                            iusto repudiandae in cupiditate.
                        </p>
                    </div>
                </div>
            </div>

        </article>
    </section>
    <h2 id="products-nav">Nuestros Productos</h2>

    <!-- aquí cargamos de forma dinámica información de la base de datos -->



    <div class="row justify-content-around" id="productsContainer">


    </div>
    </div>
    </div>

</main>